<mat-card class="header-main-content">
  <div fxLayout="row">
      <div fxFlex="25%" class="breadcrumb-content">
      <i class="material-icons">
          keyboard_arrow_left
      </i><label class="lable"><a [routerLink]="['../roles']">Roles</a></label>
      </div>
      <div fxFlex="50%" class="breadcrumb-header-content">
      Permissions
      </div>
      <div fxFlex="25%" class="breadcrumb-btn-content">
  
      <button mat-button matSuffix mat-stroked-button class="add-new-btn"  >
      <span>
          <a class="add-new-label" [routerLink]="['create']"> + ADD NEW</a>
      </span>
      </button>
  
      </div>
  </div>
  </mat-card>
  
  
  <div class="clearfix">&nbsp;</div>
  
  <ngx-datatable #myDatatable class="material" [headerHeight]="50" [limit]="10" [columnMode]="'force'" [footerHeight]="50"
  [rowHeight]="'auto'" [rows]="rows">
  <ngx-datatable-column prop="permission_name" name="Permission Name">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <span title="{{value}}" > {{value}}</span>
    </ng-template>
  </ngx-datatable-column>
  
  <ngx-datatable-column prop="permission_created_on" name="Created On">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <span title="{{value}}" > {{value}}</span>
    </ng-template>
  </ngx-datatable-column>
  
  <ngx-datatable-column prop="user_fname" name="Created By">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <span title="{{value}}" > {{value}}</span>
    </ng-template>
  </ngx-datatable-column>
  
  <ngx-datatable-column prop="permission_status" name="Status">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
        <button mat-raised-button color="primary" *ngIf="value==1">Active</button>
        <button mat-raised-button color="warn" *ngIf="value==0">Inactive</button>
    </ng-template>
  </ngx-datatable-column>
  
  
  
  <ngx-datatable-column prop="permission_id" name="Action">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <div class="button-row">
            <a mat-mini-fab color="primary" routerLink="{{value}}/edit/">
                <mat-icon aria-label="Edit">edit</mat-icon>
            </a>
            <button mat-mini-fab color="warn">
                <mat-icon aria-label="Delete" (click)="deleteRow(value,rowIndex)">delete</mat-icon>
            </button>
        </div>
    </ng-template>
  </ngx-datatable-column>
  </ngx-datatable>
  
  