/*::ng-deep .ngx-datatable .datatable-body {
    max-height: 300px !important;;
}*/

::ng-deep .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell{
    white-space: normal !important;
    line-height: 1.2;
}