.rectangle {
  // width: 1191px;
  height: 50px;
  // background-color: #e9f3ff;
  background-color: #ffffff;
  display: inline-block;
    width: 100%;
}
.breadcrumb{
  height: 15px;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  color: #272727;
}
.breadcrumb-margin{
  margin: 17px 37px;
}

.current-breadcrumb{
  height: 15px;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  color: #027901;
}