.add-stock-dialog{
    .greater-error-message{
        margin-bottom: 15px;
    }
    .productTitle{
        font-family: Roboto;
        font-size: 18px;
        font-weight: normal;
        line-height: 1.56;
        letter-spacing: 0.5px;
        color: #272727;
    }
}