
::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: #28b127 !important;
}

.dialog-pop-up .mat-checkbox{
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #272727;
  }
  .names{
    font-family: "Roboto";
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.87;
    letter-spacing: 0.4px;
    color: #272727;
  }