<div class="dialog-pop-up">
            Hi create discount
        <!-- <mat-card fxLayout="row wrap" class="footer-modal-pop-up margin-zero" fxFlex="100%">
            <div mat-dialog-actions class="center" >
              <button (click)="onNoClick()" class="mat-primary-btn" mat-raised-button color="primary">APPLY FILTERS</button>
              <button mat-button mat-stroked-button color="primary" [mat-dialog-close]="" class="mat-cancel-btn">CLEAR FILTERS</button>
            </div>
        </mat-card>
      </div> -->
      
      
</div>
