<form [formGroup]="addType" (ngSubmit)="onSubmit()">
  <mat-card class="header-main-content">
    <div fxLayout="row">
      <div fxFlex="25%" class="breadcrumb-content">
        <i class="material-icons">
          keyboard_arrow_left
        </i><label class="lable"><a [routerLink]="['../../']">Roles</a></label>
      </div>
      <div fxFlex="50%" class="breadcrumb-header-content">
        Edit Role
      </div>
      <div fxFlex="25%" class="breadcrumb-btn-content">
        <button mat-button matSuffix mat-stroked-button color="primary" type="submit">SAVE ALL</button>
      </div>
    </div>
  </mat-card>


  <div class="main-div-container">
    <div fxLayout="row">
      <div fxFlex="16.45%" fxFlex.md="10%" fxFlex.sm="10%" fxFlex.xs="0%" id="left-content">
      </div>

      <div fxFlex="83.55%" fxFlex.md="90%" fxFlex.sm="90%" fxFlex.xs="100%">
        <!-- First Section -->
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center"
          #1>
          <!--middle content -->
          <div fxFlex="54%" id="middle-content">
            <!-- main content -->
            <div class="">
              <h2 layout-margin>Role Information</h2>
              <mat-card class="mat-content-padding">
                <!-- <mat-card-title>
                <h3>Contact Information</h3>
              </mat-card-title> -->
                <mat-card-content>

                  <div fxLayout="row">
                    <div fxFlex="100%">
                      <mat-form-field fxFlex="100%">
                        <input matInput placeholder="Role Name" [formControl]="addType.controls['role_name']">
                        <mat-error *ngIf="addType.controls['role_name'].errors?.required && addType.controls['role_name'].touched"
                          class="mat-text-warn">You must include a Role name.</mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <div fxLayout="row">
                    <div fxFlex="100%">
                      <mat-form-field fxFlex="100%">
                        <textarea matInput placeholder="Role Description" [formControl]="addType.controls['role_desc']"></textarea>
                        <mat-error *ngIf="addType.controls['role_desc'].errors?.required && addType.controls['role_desc'].touched"
                          class="mat-text-warn">You must include a Role Description.</mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <div fxLayout="row">
                    <div fxFlex="100%">
                      <mat-form-field fxFlex="100%">
                        <mat-chip-list #chipList>
                          <mat-chip *ngFor="let perm of permission" [selectable]="selectable" [removable]="removable"
                            (removed)="remove(perm)">
                            {{perm}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                          </mat-chip>
                          <input placeholder="Permissions" #permissionInput [formControl]="addType.controls['permissionCtrl']"
                            [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                          <mat-option *ngFor="let list of filteredPermission " [value]="list.permission_id">
                            {{list.permission_name}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                  </div>

                  <!-- <div fxLayout="row">
                  <div fxFlex="100%">
                    <mat-form-field fxFlex="100%">
                      <mat-select [formControl]="addType.controls['partner_id']" placeholder="Select Chain">
                          <mat-option *ngFor="let type of servicePartner" [value]="type.partner_id">{{ type.name }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div> -->

                <div class="" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center">
                    <div class="mb-1" fxFlex="50%">
                      <mat-form-field fxFlex="100%">
                        <mat-select placeholder="Role Status" [formControl]="addType.controls['role_status']" [disableOptionCentering]="true">
                          <mat-option [value]="1">Active</mat-option>
                          <mat-option [value]="0">Inactive</mat-option>
                        </mat-select>
                        <mat-error *ngIf="!addType.controls['role_status'].valid && addType.controls['role_status'].touched"
                          class="mat-text-warn">You must select Role status.</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="mb-1" fxFlex="50%">
                      <mat-form-field fxFlex="100%">
                        <mat-select [formControl]="addType.controls['role_level']" placeholder="Role Level" [disableOptionCentering]="true">
                          <mat-option *ngFor="let level of roles" [value]="level.role_level">
                            Level {{ level.role_level }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                </mat-card-content>
              </mat-card>
            </div>
            <!-- main content -->
          </div>
          <!--middle content -->

          <!--right content -->
          <div fxFlex="46%" id="right-content">

          </div>
          <!--right content -->
        </div>
        <!-- First Section -->
        <div>&nbsp;</div>
      </div>
    </div>
  </div>
</form>