.transfer-stock-dialog{
    .product-name{
        h3{
            font-size: 18px;
            letter-spacing: 0.5px;
            color: #272727;
        }
    }
    .current-stock{
        width: 125px;
    }
}