<h2 mat-dialog-title>Reset {{ data.type == 'PIN' ? 'Pin' : 'Password'}}
    <span fxFlex></span>
    <span class="close-btn" align="end" (click)="dialogRef.close()">
      <mat-icon>close</mat-icon>
    </span>
  </h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography add-tag-dialog inventory-dialog">
      <div fxLayout="row" fxLayoutGap="5%" *ngIf="data.type == 'PASSWORD'">
        <div class="mb-1" fxFlex="100%">
            <mat-form-field class="example-full-width" fxFlex="100%">
            <input matInput type="password" placeholder="New Password" formControlName="password" >
            <mat-error *ngIf="form.controls['password'].hasError('required')" class="mat-text-warn">
                Password is required
            </mat-error>        
            </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="5%" *ngIf="data.type == 'PASSWORD'">
        <div class="mb-1" fxFlex="100%">
            <mat-form-field class="example-full-width" fxFlex="100%">
            <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" >
            <mat-error *ngIf="form.controls['confirmPassword'].hasError('required')" class="mat-text-warn">
                Confirm Password is required
            </mat-error>
            <mat-error *ngIf="form.controls['confirmPassword'].errors?.mustMatch" class="mat-text-warn">
                Passwords must match.
            </mat-error>
            </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="5%" *ngIf="data.type == 'PIN'">
        <div class="mb-1" fxFlex="100%">
            <mat-form-field class="example-full-width" fxFlex="100%">
            <input matInput type="password" placeholder="Pin" formControlName="pin" maxlength="4">
            <mat-error *ngIf="form.controls['pin'].hasError('required')" class="mat-text-warn">
                Pin is required
            </mat-error>
            </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>
  
    <mat-dialog-actions align="end" class="mat-dialog-footer-custom">
      <button type="submit" class="ok-button" mat-raised-button color="primary">RESET</button>
      <button mat-button color="primary" class="cancel-button" [mat-dialog-close]="">CANCEL</button>
    </mat-dialog-actions>
  </form>