.Search-icon{
    opacity: 0.42;
    margin-bottom: -7px;
}
.Search {
    opacity: 0.42;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.87;
    letter-spacing: 0.4px;
    color: #272727;
  
    outline: none;border: none;width: 70%; 
    margin-left: 5px;
}
.mat-button{
    //width: 130px;
    background-color: #e0f3e0;
    color:#28b127;
    border-radius: 4px;
}
.mat-stroked-button{
    margin-left: 15px;
}