::ng-deep .mat-form-field-underline {
  display: none;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: "0rem 1rem !important";
  border-top: 0.5rem solid transparent !important;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding: 0rem 1rem !important;
  border-top: 0rem solid transparent !important;
}
.source-filter-wrapper {
  background-color: "red"
}