<mat-card class="header-main-content">
    <div fxLayout="row">
        <div fxFlex="25%" class="breadcrumb-content">
        </div>
        <div fxFlex="50%" class="breadcrumb-header-content">
            Discounts
        </div>
        <div fxFlex="25%" class="breadcrumb-btn-content">
            <button class="add-new-btn" (click)="AddNewDiscount()" type="button">
                <a class="add-new-label">
                    <img src="assets/icon/plus-math.svg" alt="Add New" class="plus-math">
                    ADD NEW
                </a>
            </button>
        </div>
    </div>
</mat-card>
<mat-progress-bar mode="indeterminate" *ngIf="inProgress"></mat-progress-bar>
<div style="padding-top: 20px">
    <div fxFlex="2%">
    </div>

    <div fxFlex="96%">

        <div fxLayout="column" fxLayoutGap="20px">
            <div class="" fxLayout="row" fxLayoutWrap fxLayoutAlign="center">
                <div class="search-input" fxFlex="90%" fxFlex.md="80%" fxFlex.lg="80%" fxFlex.sm="65%" fxFlex.xs="65%">
                    <img alt="Search" class="Search-icon" src="../../assets/icon/search.png">
                    <input class="Search" (keyup)="applyFilter($event.target.value)" placeholder="Search name...">
                    <span class="result-count">{{rows.length}} Results</span>
                </div>
                <div class="search-button pointer" (click)="ApplyMultipleFilter(filter_data)" fxFlex="10%" fxFlex.md="20%"
                    fxFlex.lg="20%" fxFlex.sm="35%" fxFlex.xs="35%">
                    <div fxFlex="70%" class="text"> Filter by </div>
                    <div fxFlex="30%" class="icon">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </div>
                </div>
            </div>
        </div>

        <div fxLayout="column" class="main-container" *ngIf="rows.length > 0">

            <div class="list-detail-content">

                <ngx-datatable #myTable class='material fancyscroll employee-list-table'
                    [ngStyle]="{'height':dynamicHeight}" [headerHeight]="50" [externalPaging]="false" [footerHeight]="0"
                    [columnMode]="'flex'" [rowHeight]="60" [scrollbarV]="true" [rows]='rows' [limit]="10">
                 
                    <ngx-datatable-column name="Title" prop="title" [resizeable]="false" [flexGrow]="4">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <span class="hover-color" (click)="$event.stopPropagation();">{{row['title']}}</span>
                        </ng-template>
                    </ngx-datatable-column>


                    <ngx-datatable-column name="Discount Value" prop="discount_value" [resizeable]="false" [flexGrow]="2">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <span class="hover-color" (click)="$event.stopPropagation();">{{(row['value'] * 100)/ 100}}%</span>
                        </ng-template>
                    </ngx-datatable-column>


                    <ngx-datatable-column name="Type" prop="type" [resizeable]="false" [flexGrow]="2">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{row['type']}}
                        </ng-template>
                    </ngx-datatable-column>


                    <ngx-datatable-column name="Parameter Values"  prop="parameter_values" [resizeable]="false" [flexGrow]="2.5">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{row['paramters'][0].name}}
                        </ng-template>
                    </ngx-datatable-column>


                    <ngx-datatable-column name="Minimum Quantity" prop="min_qty" [resizeable]="false" [flexGrow]="2">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{row['min_qty']}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Product Weight" prop="product_weight" [resizeable]="false" [flexGrow]="2">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{row['product_weight']}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Store Name" prop="storename" [resizeable]="false" [flexGrow]="4">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{row['storeName']}}
                        </ng-template>
                    </ngx-datatable-column>


                    <ngx-datatable-column name="Status" [sortable]="false" [resizeable]="false" [flexGrow]="2">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <mat-slide-toggle color="primary" [checked]="row['status'] == 1"
                                (click)="$event.stopPropagation();" (change)="changeDiscountStatus(row['discount_id'],$event)">
                            </mat-slide-toggle>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Last updated"  prop="discount_status" [resizeable]="false" [flexGrow]="2.5">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{row['last_updated']}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="View" [sortable]="false" [resizeable]="false"  [flexGrow]="2" >
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <button mat-icon-button [routerLink]="['/discounts', row['discount_id'], 'view']" [state]="{ row: row }">
                                <mat-icon>visibility</mat-icon>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                    <!-- <ngx-datatable-column name="View" [sortable]="false" width="70" headerClass="display-none"
                        [resizeable]="false" [flexGrow]="0.5">
                        <ng-template ngx-datatable-header-template>
                            <span class="align-end" mat-icon-button>
                            </span>
                        </ng-template>
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <span class="align-end" (click)="$event.stopPropagation();" mat-icon-button
                                [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </span>
                            <mat-menu #menu="matMenu">
                                <span mat-menu-item (click)="deleteDiscount(row['discount_id'])">
                                    <span>Remove Discount</span>
                                </span>
                            </mat-menu>
                        </ng-template>
                    </ngx-datatable-column> -->
                    <ngx-datatable-footer>
                        <ng-template ngx-datatable-footer-template></ng-template>
                    </ngx-datatable-footer>
                </ngx-datatable>
            </div>
        </div>
        <div fxLayout="column" *ngIf="rows.length==0 && !inProgress" style="margin-top: 60px;">
            <div class="center">
                <div>
                    <img alt="No result found" src="../../assets/images/sad.svg" class="sad">
                </div>
                <div>
                    <span class="Sorry-no-results-fo">Sorry, no results found</span>
                </div>
                <div *ngIf="(!Users ||Users.length > 0) && !inProgress">
                    <span class="Please-try-a-differe">Please try a different keyword</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row-selecetd-count" *ngIf="selected.length>0">
        <span>{{selected.length}} Rows Selected</span>
    </div>
</div>