.customsales-search-input {
  box-shadow: 1px 0 13px 0 rgba(0, 0, 0, 0.04) !important;
  border-right: 1px solid#e6e6e6;
  border-radius: 50px 50px 50px 50px;
  background: white;
  padding: 10px 10px 10px 10px;
}

.active-button {
  background: rgba(40, 177, 39, 0.37)
}

.custom_report_header {
  background-color: #ffffff;
  padding: 15px ;
  margin: 3px 1px 3px 0px ;
}

.custom-table  {
  min-width: 1100px;
}

.table-min-width{
  min-width:1000px;
}

.custom-search-button{
  line-height: 4;
  text-align: right;
}

.custom-search{
  padding-bottom: 5px;
}

.dialog-button{
  border: 1px solid;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  color: #28b127;
  //height: 43px;
}

.searchbar-div{
  margin-bottom: 15px;
}

.custom-mat-table{
  padding-bottom: 0px;
}