.product-filter-dialog {
  .filter-block {
    &:first-child {
      .title {
        margin-top: 10px;
      }
    }
    .title {
      margin-bottom: 10px;
      margin-top: 26px;
    }
    .mat-header-name,
    .mat-checkbox {
      font-weight: normal !important;
    }
    .checkbox-block {
      padding-bottom: 8px !important;
    }
    .filter-checkbox {
      .mat-checkbox-inner-container {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 11px;
      }
      .mat-checkbox-label {
        white-space: normal;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        color: #272727;
        position: relative;
        top: -3px;
      }
    }
  }
}
.product-filter-dialog-title {
  margin: 0 0 10px !important;
}
